<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <script src="/scripts/d3.min.js"></script>
    <script src="/dist/got.bundle.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    {{{ body }}}
  </body>
    {{> footer}}
</html>
