<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <script src="/scripts/squares-front.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    {{{ body }}}
  </body>
    {{> footer}}
</html>
