<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h2>API Error</h2>
        <h4> Sorry! We weren't able to process your api request </h4>
        <h5> Check out the documentation <a>here</a> </h5>
      </div>
</main>
