<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <svg id="gameCanvas" width="640" height="480"></svg>
        <button type="button" name="button" onclick="game.confirm()">Confirm</button>
      </div>
</main>
