<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <canvas id="gameCanvas" width="640" height="480"></canvas>
        <button type="button" name="button" onclick="game.x()"></button>
        <div id="map"></div>
      </div>
</main>
