<main class="page-content" aria-label="Content">
      <div class="wrapper">
        Users need to be able to login at this point.
        Before they can see this page, and then hopefully this page will regenerate.
        As "GAMES".
      </div>
</main>
