<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h2>Games</h2>
        <ul class="gameList">
          {{#each games}}
          <li><a href="play/{{ this.urlkey }}/">{{ this.name }}</a></li>
          {{/each}}
        </ul>
        Users need to be able to login at this point.
        Before they can see this page, and then hopefully this page will regenerate.
        As "GAMES".
      </div>
</main>
