<main class="page-content" aria-label="Content">
      <div class="wrapper">
         <form action ="create" method = "post">
            <input type="submit" name="Create" value="create">
         </form>
        <table>
          <thead>
            <th>Id</th>
            <th>Players</th>
            <th>Created</th>
            <th>Click</th>
          </thead>
        <tbody>
          {{#games}}
          <tr>
            <td>{{ id }} </td>
            <td>{{ numPlayers }}</td>
            <td>{{ createdAt }}</td>
            <td>
            <form action ="join/{{id}}/" method = "post">
               <input type="submit" name="Join">
            </form>
            </td>
          </tr>
          {{/games}}
        </tbody>
      </table>
    </div>
</main>
