<main class="page-content" aria-label="Content">
      <div class="wrapper">
         <form action ="create" method = "post">
            <input type="submit" name="Create" value="create" />
         </form>
        <table>
          <thead>
            <th>Id</th>
            <th>Players</th>
            <th>Created</th>
          </thead>
        <tbody>
          {{#games}}
          <tr>
            <td>{{ id }}</td>
            <td><{{ numPlayers }}</td>
            <td><{{ createdAt }}</td>
          </tr>
          {{/games}}
        </tbody>
      </table>
    </div>
</main>
