<main class="page-content" aria-label="Content">
	  <div class="wrapper">
	  	<h1> Wow look at all these options...amazing </h1>
	  	<hr>
	  	<br>
	  	<a href="/auth/facebook"> Log in with facebook </a>
	  </div>
</main>
