<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h2>Squares</h2>
        <svg id="gameCanvas" width="640" height="480"></svg>
        <button type="button" name="button" onclick="newGame()">Create Game</button>
      </div>
</main>
